* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5%
}

//Color variable
$color-primary: #221e39;
$color-secondary: #363636;
$color-tertiary: #9a9a9a;

$color-fb: #3b5998;
$color-twitter: #00acee;
$color-youtube: #c4302b;

//Font variable
$font-primary: "Open Sans", sans-serif;

//Breakpoint
$bp-largest: 75em; //1200/16 = 75 em;
$bp-large: 68.75em; //1100/16 = 68.75
$bp-medium: 56.25em; //900/16 = 56.25
$bp-small: 37.5em; //600/16 = 37.5
$bp-smallest: 31.25em; //500/16 = 31.25

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
}
