* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px / 16px = 62.5%
}

//Color variable
$color-primary: #221e39;
$color-secondary: #4f4d4d;
$color-tertiary: #9a9a9a;

$color-fb: #3b5998;
$color-twitter: #00acee;
$color-youtube: #c4302b;

//Font variable
$font-primary: "Open Sans", sans-serif;

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
}
