.footer {
  margin-top: 5vw;
  background-color: $color-primary;
  color: $color-tertiary;
  padding-top: 2rem;

  &__link {
    padding: 0 2rem;
    display: flex;
    max-width: 1280px;

    flex-direction: column;

    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__list,
  &__list a {
    display: flex;
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    color: $color-tertiary;
    transition: ease-in 0.2s;
    flex-direction: column;

    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      font-size: 16px;
      margin-right: auto;
    }
  }

  &__list li {
    padding-bottom: 1rem;
    @media only screen and (min-width: $bp-large) {
      padding-right: 2rem;
    }
  }

  &__list a:hover {
    text-decoration: underline;
    transform: translateY(-3px);
    color: white;
  }
}

.copyright {
  max-width: 1280px;
  margin: 0 auto;

  font-size: 14px;
  padding: 1rem 2rem;
  padding-top: 1rem;
}

.social__media {
  display: flex;
  flex-direction: row;
}

.social__media a:not(:last-child) {
  padding-right: 1rem;
}

.icon {
  color: $color-tertiary;
}

.icon--facebook:hover {
  color: $color-fb;
  transition: ease-in 0.2s;
}

.icon--twitter:hover {
  color: $color-twitter;
  transition: ease-in 0.2s;
}

.icon--youtube:hover {
  color: $color-youtube;
  transition: ease-in 0.2s;
}
