.header {
  box-shadow: 0 5px 5px 0 rgba(45, 35, 39, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  margin-bottom: 2rem;
}

.nav__list {
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem 5rem;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  &--logo {
    width: 10%;
  }

  &--items {
    display: flex;
    list-style: none;
    margin-right: auto;
    column-gap: 2rem;
    font-weight: 600;
    font-weight: 1.4rem;
  }

  &--right {
    border: 1px solid $color-primary;
    border-radius: 5%;
    background-color: $color-primary;
    cursor: pointer;

    &--button {
      padding: 0.8rem 4rem;
      border: none;
      color: #fff;
      font-size: 1.4rem;
    }
  }
}
