.section__top {
  padding: 1rem 5rem;
  margin: 2rem;

  &--image-container {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-small) {
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      margin-bottom: 5rem;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    order: 1;

    @media only screen and (min-width: $bp-large) {
      order: 0;
    }
  }

  &--container a {
    text-decoration: none;
  }

  &--container:hover {
    img {
      opacity: 90%;
    }

    .section__top--image--description {
      text-decoration: underline;
    }
  }

  &--image {
    width: 100%;
    height: 100%;
    transition: transform 1s ease;

    @media only screen and (min-width: $bp-large) {
      width: 98%;
    }

    &--description {
      padding: 1rem 0;
      font-size: 22px;
      font-weight: 600;
      color: $color-secondary;
    }
  }

  &--title {
    color: $color-primary;

    @media only screen and (min-width: $bp-large) {
      font-size: 32px;
    }

    @media only screen and (min-width: $bp-largest) {
      font-size: 36px;
    }
  }

  &--description {
    font-weight: 600;
    font-size: 22px;
    color: $color-primary;

    @media only screen and (min-width: $bp-large) {
      font-size: 20px;
    }

    @media only screen and (min-width: $bp-largest) {
      font-size: 24px;
    }

    &--search {
      margin: 2rem 0;
      position: relative;

      @media only screen and (min-width: $bp-largest) {
        font-size: 24px;
        margin: 4rem 0;
      }
    }
  }
}

.search__button {
  color: $color-primary;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}

.genre {
  font-size: 18px;
  font-weight: 500;
  color: $color-primary;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $bp-large) {
    margin-bottom: 1rem;
  }

  &__list a {
    text-decoration: none;
  }

  &__list {
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    row-gap: 1rem;

    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      column-gap: 1rem;
    }

    &--card {
      border: 1px solid black;
      padding: 3rem 2rem;
      background-color: $color-primary;
      font-family: $font-primary;
      color: white;
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and (min-width: $bp-large) {
        padding: 2rem 2rem;
      }

      &:hover {
        text-decoration: underline;
        opacity: 80%;
      }
    }
  }
}

.search__term {
  width: 100%;
  padding: 2.8rem 1rem;
  border-color: black;
  font-family: $font-primary;
  font-size: 14px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.mid__section {
  padding: 1rem 8rem;
  display: flex;
  column-gap: 2rem;
  flex-direction: column;
  text-align: center;

  @media only screen and (min-width: $bp-large) {
    flex-direction: row;
    padding: 1rem 6rem;
  }

  &--container {
    display: flex;
    flex-basis: auto;
  }

  &--container a {
    text-decoration: none;
    overflow: hidden;
  }

  &--container {
    flex-direction: column;

    @media only screen and (min-width: $bp-large) {
      text-align: center;
    }
  }

  &--container:hover {
    img {
      transform: scale(1.05);
      opacity: 90%;
    }

    .mid__section--description {
      text-decoration: underline;
    }
  }

  &--image {
    max-width: 80%;
    border-radius: 2px;
    transition: transform 1s ease;

    @media only screen and (min-width: $bp-large) {
      max-width: 100%;
    }
  }

  &--description {
    color: $color-secondary;
    padding: 1rem 0;
    font-weight: 600;
  }
}

// Apex Legends page

.top__section {
  padding: 1rem 5rem;
  display: flex;

  &--container {
    margin-right: auto;
  }
}

.background__banner {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 50%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.background__body {
  padding: 3rem;
  margin: 1rem 6rem;
  background-color: #1b2838;

  position: relative;
  color: white;
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__number {
    border-radius: 50%;
    border: 2px solid black;
    padding: 1rem 2rem;
    background-color: gold;
    font-weight: 700;
    color: white;
  }
}

.background__container {
  display: flex;
}

.right__section {
  display: flex;
  flex-direction: column;
}

.body__image img {
  width: 400px;
}
